<div class="container my-5">
  <div class="row">
    <h4 class="col-4 ml-5 pb-3">
      <span class="px-3" style="background-color:#d3d3d3;">
        会員登録情報
      </span>
    </h4>
  </div><!-- row -->

  <%= form_with model: @customer, url: public_customers_mypage_path, method: :patch, local: true do |f| %>
    <div class="row">
      <label class="col-lg-3">氏名</label>
      <div class="col-lg-3">
        <%= f.text_field :family_name, autoforcus: true %>
      </div>
      <div class="col-lg-3">
        <%= f.text_field :first_name %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">フリガナ</label>
      <div class="col-lg-3">
        <%= f.text_field :family_kana_name %>
      </div>
      <div class="col-lg-3">
        <%= f.text_field :first_kana_name %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">郵便番号（ハイフンなし）</label>
      <div class="col-lg-3">
        <%= f.text_field :post_number %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">住所</label>
      <div class="col-lg-3">
        <%= f.text_field :address, style: "width: 230%;" %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">電話番号（ハイフンなし）</label>
      <div class="col-lg-3">
        <%= f.text_field :phone_number %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">メールアドレス</label>
      <div class="col-lg-3">
        <%= f.text_field :email %>
      </div>
    </div><br>

    <div class="row">
      <div class="col-3"></div>
      <%= f.submit "編集内容を保存", class: "btn btn-success mr-md-5 ml-3" %>
      <div class="col-1"></div>
      <%= link_to "退会する", public_customers_confirm_path, class: "btn btn-danger px-3" %>
    </div>
  <% end %>

</div>
