<div class="container my-5 py-5">
  <div class="row">
    <div class="col">
      <h4>マイページ</h4>
    </div><!-- col -->
  </div><!-- row -->

  <div class="row">
    <div class="col">
      <h4><strong>登録情報</strong></h4>
      <%= link_to public_customers_information_edit_path, class: "btn btn-sm mb-3 btn-success" do %>
        <strong>編集する</strong>
      <% end %>
    </div><!-- col -->
  </div><!-- row -->

  <div class="row">
    <table class="table table-bordered border-dark">
      <tr>
        <td>氏名</td>
        <td><%= @customer.family_name + " " + @customer.first_name %></td>
      </tr>
      <tr>
        <td>カナ</td>
        <td><%= @customer.family_kana_name + " " + @customer.first_kana_name %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= @customer.post_number %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= @customer.phone_number %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
    </table>
  </div><!-- row -->

  <div class="row">
    <div class="col">
      <h4>配送先</h4>
    </div><!-- col -->
    <div class="col">
      <%= link_to "一覧を見る", public_addresses_path, class: "btn btn-sm btn-primary mb-3 d-block" %>
    </div><!-- col -->
  </div><!-- row -->

  <div class="row">
    <div class="col">
      <h4>注文履歴</h4>
    </div><!-- col -->
    <div class="col">
      <%= link_to "一覧を見る", public_orders_path, class: "btn btn-sm btn-primary mb-3 d-block" %>
    </div><!-- col -->
  </div><!-- row -->
</div><!-- container -->
