<div class="container my-5">
  <h1>商品編集</h1>
  <% if @item.errors.any? %>
    <p><%= @item.errors.count %>件のエラーが発生しました</p>
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @item, url: new_admin_item_path, method: :post, local: true do |f| %>
    <div class="row mt-5">
      <div class="col-sm-4">
        <%= f.label :商品画像 %>
        <%= f.file_field :image, class: "form-control" %>
      <div class="col-sm-8">
        <div class="form-group row">
          <%= f.label :商品名, class: "col-sm-3" %>
          <div class="col-sm-9">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :商品説明, class: "col-sm-3" %>
          <div class="col-sm-9">
            <%= f.text_area :explanation, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :ジャンル, class: "col-sm-3" %>
          <div class="col-sm-9">
            <%= f.select :genre_id, [["ケーキ", "ケーキ"], ["プリン", "プリン"], ["焼き菓子", "焼き菓子"], ["キャンディ", "キャンディ"]], include_blank: "--選択して下さい--", class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :税込価格, class: "col-sm-3" %>
          <div class="col-sm-9">
            <%= f.number_field :price, placeholder: '1000', class: "form-control" %>円
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-3">販売ステータス</div>
          <div class="col-sm-9">
            <%= f.radio_button :is_sale, true %>
            <%= f.label :'販売中' %>
            <%= f.radio_button :is_sale, false %>
            <%= f.label :'販売停止中' %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-9 offset-sm-3">
            <%= f.submit '変更を保存', class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>