<div class="container my-5">
  <div class="row">
      <h4>商品一覧</h4>
  </div>

  <div class="text-right">
    <%= link_to "＋", new_admin_item_path, class: 'btn btn-default' %>
  </div>

  <div>
    <table class='table table-hover table-inverse'>

  <div class="row mt-1">
    <table class="table table-hover text-center">
    <thead>
      <tr>
        <th></th>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></tr>
        <td><%= link.to name, admin_item_path(item) %></tr>
        <td><%= item.price %></tr>
        <td><%= item.genres.name %></tr>
        <td><%= item.sale_status%></tr>
      <% end %>
    </tbody>
  </table>
  </div>
  </div>
</div>
      <%= paginate @items %>