<div class="container">
  <div class="row">
    <div class="col-md-3">
      <% @genres.each do |genre| %>
        <%= link_to genre.name, public_items_path(genre: genre.name) %>
      <% end %>
    </div>
    <div class="col-md-9">
      <div>
        <%= image_tag 'cake2.jpeg' %>
      </div>

      <p>Welcome!! 永野Cakeへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。</p>

      <h4>新着商品</h4>
      <div>
        <% @items.each do |item| %>
          <p><%= item.name %></p>
          <%= link_to public_item_path(item) do %>
            <%= image_tag item.image(300, 300) %>
          <% end %>
          ￥<%= item.price.to_s(:delimited) %>
        <% end %>
      </div>

      <div class="ml-auto">
        <%= link_to "全ての商品を見る>", public_items_path, class: "d-flex justify-content-end" %>
      </div>
    </div>
  </div>
</div>
