<div class="container">
  <div class="row">
    <div class="col">
      <h4><%= @customer.family_name %><%= @customer.first_name %>さんの注文履歴</h4>
      <table class="table table-bordered border-dark">
        <thead>
          <tr>
            <th><strong>購入日時</strong></th>
            <th><strong>注文個数</strong></th>
            <th><strong>注文ステータス</strong></th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><% link_to admin_order_path(order) do %>
                   <%= order.created_at %>
                  <% end %>
              </td>
              <td>
                <% order.order_details.each do |order_detail| %>
                  <%= order_detail.quantity %>
                <% end %>
              </td>
              <td><%= order.status_i18n %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- col -->
  </div><!-- row -->
</div><!-- container -->
