<div class="container">
  <h2>注文履歴詳細</h2>

  <table class="table table-bordered border-dark">
    <tr>
      <th>購入者</th>
      <td><%= @order.name %></td>
    </tr>

    <tr>
      <th>注文日</th>
      <td><%= @order.created_at %></td>
    </tr>

    <tr>
      <th>配送先</th>
      <td>
        <%= @order.post_number + " " + @order.address %><br>
        <%= @order.name %>
      </td>
    </tr>

    <tr>
      <th>支払い方法</th>
      <td><%= @order.status_i18n %></td>
    </tr>

    <tr>
      <th>注文ステータス</th>
      <td>
        <%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
          <%= f.select :status, Order.statuses.keys.map{|k| [I18n.t("enums.order.status.#{k}"), k]} %>
          <%= f.submit "更新", class: "btn btn-success" %>
        <% end %>
      </td>
    </tr>
  </table>

  <table class="table table-bordered ">
    <thead>
      <tr>
        <td>商品名</td>
        <td>単価（税込）</td>
        <td>数量</td>
        <td>小計</td>
        <td>製作ステータス</td>
        <td></td>
      </tr>
    </thead>

    <tbody>
      <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.price %></td>
          <td><%= order_detail.quantity %></td>
          <td><%= order_detail.price %></td>
          <td>
            <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch, local: true do |f| %>
              <%= f.select :making_status, OrderDetail.making_statuses.keys.map{|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
              <%= f.submit "更新", class: "btn btn-success" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table table-bordered">
    <tr>
      <th>商品合計</th>
      <td><%= (@order.billing_amount - @order.postage).to_s(:delimited) %></td>
    </tr>

    <tr>
      <th>送料</th>
      <td><%= @order.postage.to_s(:delimited) %></td>
    </tr>

    <tr>
      <th>請求金額合計</th>
      <td><%= @order.billing_amount.to_s(:delimited) %></td>
    </tr>
  </table>
</div>
