<div class="container">
  <h1>注文履歴一覧</h1>

  <table class="table table-bordered border">
    <thead>
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.created_at, admin_order_path(order.id) %></td>
          <td><%= order.name %></td>
          <td>
            <% total_quantity = 0 %>
            <% order.order_details.each do |order_detail| %>
              <% total_quantity += order_detail.quantity %>
            <% end %>
            <%= total_quantity %>
          </td>
          <td><%= order.status_i18n %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
  <div class="d-flex justify-content-center text-center">
    <%= paginate @orders %>
  </div>
</div>
