<div class="container my-5">
  <%= render "layouts/errors", obj: @order %>
  <div class="row">
    <div class="col-12">
      <h4 class="ml-5 pb-3">
        <span class="px-3" style="background-color:#d3d3d3;">
          注文情報入力
        </span>
      </h4>
      <%= form_with model: @order, url: public_orders_confirm_path, local: true do |f| %>
        <h6><strong>支払い方法</strong></h6>
        <label class="ml-5"><%= f.radio_button(:payment_method, Order.payment_methods.key(0), checked: "checked") %>
          <%= Order.payment_methods_i18n[:credit_card] %></label>
        <br>
        <label class="ml-5"><%= f.radio_button(:payment_method, Order.payment_methods.key(1)) %>
          <%= Order.payment_methods_i18n[:bank_transfer] %></label>

        <h6><strong>お届け先</strong></h6>
        <label class="ml-5"><%= f.radio_button(:address_number, 1, checked: "checked") %>
          <span><strong>ご自分の住所</strong></span>
          <div class="ml-5"><%= "〒" + current_customer.post_number + " " + current_customer.address %></div>
          <div class="ml-5"><%= current_customer.family_name + " " + current_customer.first_name %></div></label>
        <br>
        <label class="ml-5"><%= f.radio_button(:address_number, 2) %>
          <span><strong>登録済み住所から選択</strong></span>
          <div class="ml-5 pt-2"><%= f.collection_select :registered, current_customer.addresses.all, :id, :address_display %>
          </div></label>
        <br>
        <div class="ml-5">
          <%= f.radio_button :address_number, 3 %>
          <strong>
            <%= f.label :address_number_3, "新しいお届け先" %>
            <br></strong>
          <%= f.label :post_number, "郵便番号（ハイフンなし）" %>
          <%= f.text_field :post_number, placeholder: "0000000" %>
          <br>
          <%= f.label :address, "住所　　　　　　　　　　" %>
          <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", style: "width: 40%;" %>
          <br>
          <%= f.label :address_name, "宛名　　　　　　　　　　" %>
          <%= f.text_field :address_name, placeholder: "令和　道子" %>
          <br>
        </div>
        <div class="text-center">
          <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
