<header>
  <nav class="nav navbar-nav navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
      <!--顧客側/管理者側がログインしていないとき-->
      <!--ログイン機能実装後に続き作成します-->
      <div class="collapse navbar-collapse px-3" id="navbarNavDropdown">
      <%= link_to image_tag("nagaNO.png", width: 90, height: 90), "/" %>
        <ul class="nav navbar-nav ml-auto">
          <li class="mr-5">
            <%= link_to public_about_path, class: "nav-link btn btn-info" do %>
              About
            <% end %>
          </li>
          <li class="mr-5">
            <%= link_to public_items_path, class: "nav-link btn btn-warning" do %>
              商品一覧
            <% end %>
          </li>
          <li class="mr-5">
            <%= link_to new_customer_registration_path, class: "nav-link btn btn-primary" do %>
              顧客側新規登録
            <% end %>
          </li>
          <li class="mr-5">
            <%= link_to customer_session_path, class: "nav-link btn btn-success" do %>
              顧客側ログイン
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>